.login-form {
    margin: 8% auto;
    border: 2px solid darksalmon;
    border-radius: 8px;
    background-color:antiquewhite;
}
.login-main {
    background-image: url(../assets/Img/loginbackground.jpg);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}
.container-login {
    position: relative;
    height: 800px;
}
.register-container {
    display: flex;
    margin: 5% auto;
    height: 800px;
    border: 1px solid aqua;
    border-radius: 8px;
}
.register-img {
    background-image: url(../assets/Img/registerbg.jpg);
}
.register-form {
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
    
}